<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bandas
    </ion-title>
  </ion-toolbar >
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/led-zeppelin.jpg" alt="">
    <ion-card-header>
      <ion-card-subtitle>
        Banda de Rock & Roll
      </ion-card-subtitle>
      <ion-card-title>
        Led Zeppelin
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Led Zeppelin fue un grupo britanico de hard rock fundado en 1968 por el guitarrista Jimmy Page. La banda estuvo
      integrada por Jhon Paul Jones como bajista y tecladista, el vocalista Robert Plant y Jhon Bonham a la bateria
    </ion-card-content>
  </ion-card>
</ion-content>